body, html {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    text-rendering: optimizeLegibility;
    user-select: none;
    text-size-adjust: none;
    cursor: default;
    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
}

* {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    text-rendering: optimizeLegibility;
    user-select: none;
}

body.dark {
    @apply bg-gray-900;
}