<div class="relative" ...attributes>
    <div class="relative z-20 border-t border-gray-200 dark:border-gray-800 mt-0 md:mt-20">
        <div class="max-w-7xl mx-auto flex flex-col px-4 py-5 sm:px-6 sm:py-4 lg:px-8 md:justify-start space-y-5">
            <div class="flex-1 flex">
                <nav class="flex flex-col space-y-2 md:space-y-0 md:flex-row md:space-x-10 lowercase">
                    <a href="https://github.com/roncodes" class="text-base font-medium text-gray-500 hover:text-gray-900 dark:hover:text-gray-200">
                        <FaIcon @icon="github" @prefix="fab" />
                        <span>github</span>
                    </a>
                    <a href="https://twitter.com/wreckitron28" class="text-base font-medium text-gray-500 hover:text-gray-900 dark:hover:text-gray-200">
                        <FaIcon @icon="twitter" @prefix="fab" />
                        <span>twitter</span>
                    </a>
                    <a href="https://www.twitch.tv/wreckitron28" class="text-base font-medium text-gray-500 hover:text-gray-900 dark:hover:text-gray-200">
                        <FaIcon @icon="twitch" @prefix="fab" />
                        <span>twitch</span>
                    </a>
                    <a href="https://www.youtube.com/channel/UCmM_EzTI4T7qxDc-YDiKkgw" class="text-base font-medium text-gray-500 hover:text-gray-900 dark:hover:text-gray-200">
                        <FaIcon @icon="youtube" @prefix="fab" />
                        <span>youtube</span>
                    </a>
                    <a href="https://www.instagram.com/wreckitron28" class="text-base font-medium text-gray-500 hover:text-gray-900 dark:hover:text-gray-200">
                        <FaIcon @icon="instagram" @prefix="fab" />
                        <span>ig</span>
                    </a>
                    <a href="https://www.linkedin.com/in/ronald-a-richardson/" class="text-base font-medium text-gray-500 hover:text-gray-900 dark:hover:text-gray-200">
                        <FaIcon @icon="linkedin" @prefix="fab" />
                        <span>linkedin</span>
                    </a>
                </nav>
            </div>
            <div class="flex-1 flex">
                <div class="text-xs dark:text-gray-200">&copy; all rights reserved, ronald a. richardson</div>
            </div>
        </div>
    </div>
</div>