{{#if this.visible}}
    <div class="relative print:hidden" ...attributes>
        <PageContainer class="flex flex-row justify-end my-6">
            <div class="flex flex-row justify-end items-center dark:text-gray-400 -mr-3">
                <LinkTo @route="home" class="flex items-center justify-center w-8 hover:opacity-50">
                    <FaIcon @icon="home" />
                </LinkTo>
                <LinkTo @route="cv" class="flex items-center justify-center w-8 hover:opacity-50">
                    <FaIcon @icon="file-lines" />
                </LinkTo>
                <button type="button" class="flex items-center justify-center w-8 hover:opacity-50" {{on "click" this.onPrint}}>
                    <FaIcon @icon="print" />
                </button>
                <button type="button" class="flex items-center justify-center w-8 hover:opacity-50" {{on "click" this.onToggleTheme}}>
                    <FaIcon @icon={{if this.isDarkMode "lightbulb" "lightbulb-on"}} />
                </button>
            </div>
        </PageContainer>
    </div>
{{/if}}