{{#if this.visible}}
    <div class="relative print:hidden" ...attributes>
        <PageContainer class="flex flex-row justify-between my-6">
            <div id="page-title-wormhole" class="flex flex-row items-center"></div>
            <div class="flex-1 flex flex-row justify-end items-center dark:text-gray-400 -mr-3">
                <LinkTo @route="home" class="flex items-center justify-center w-8 hover:opacity-50">
                    <FaIcon @icon="home" />
                    <Attach::Tooltip @animation="scale" @placement="bottom" @showOn="mouseenter focus">
                        <div class="href-tooltip">Home</div>
                    </Attach::Tooltip>
                </LinkTo>
                <LinkTo @route="projects" class="flex items-center justify-center w-8 hover:opacity-50">
                    <FaIcon @icon="folder-tree" />
                    <Attach::Tooltip @animation="scale" @placement="bottom" @showOn="mouseenter focus">
                        <div class="href-tooltip">Projects</div>
                    </Attach::Tooltip>
                </LinkTo>
                <button type="button" class="flex items-center justify-center w-8 hover:opacity-50" {{on "click" this.onToggleTheme}}>
                    <FaIcon @icon={{if this.isDarkMode "lightbulb" "lightbulb-on"}} />
                    <Attach::Tooltip @animation="scale" @placement="bottom" @showOn="mouseenter focus">
                        <div class="href-tooltip">{{if this.isDarkMode "Lights on!" "Lights off!"}}</div>
                    </Attach::Tooltip>
                </button>
            </div>
        </PageContainer>
    </div>
{{/if}}