{{page-title "Hello, my name is Ron, and I am a Software Engineer"}}

<div>
    <div class="page-title page-title-home">
        <span class="mr-0.5">👋🏾</span>
        <span>Hello, my name is Ron, and I am a Software Engineer and former Marine.</span>
    </div>

    <div class="aboutme">
        <p>My journey in tech began in middle school when my father introduced me to computers. My mother further sparked my interest by introducing me to a web page builder by Bellsouth.net, leading me down a rabbit hole of learning to code and build.</p>
        <p>Since then, I served in the Marines and studied Robotics and Embedded Systems at the University of Advancing Technology which enabled me to kick-start my professional career as a software engineer. This unique combination of experience, along with my innate passion for building and learning, is why I’m now obsessed with creating innovative digital products and experiences that perform like magic.</p>
        <p>Before the outbreak of COVID-19, I co-founded <a href="https://fleetbase.io" class="flb-link" target="_fleetbase">Fleetbase</a> - an API-based platform that enables fast development of logistics and supply-chain apps. While building Fleetbase, I gained a deep understanding of the shipping and logistics industries, including common challenges. This allowed me to develop innovative software solutions that tackle complex problems.</p>
        <p>When I’m not working professionally I like to explore new technologies and hack on side-projects in augmented reality, game development, and apps.</p>
        <p>One of my passion projects, <a href="https://horrormovienight.app/" class="hmn-link" target="_horrormovienight">Horror Movie Night</a>, recommends the most skin-crawling horror movies based on user's mood and is used by over 6,000 iOS and Android users globally.</p>
        <p>Some of my non technical hobbies include hiking, coffee, travel, and gaming.</p>
    </div>

</div>