<div>
    <h3 class="page-title">👋🏾 Hello, my name is Ron!</h3>
    <div class="mb-10 space-y-5">
        <p>
            I'm a creative foremost, a software engineer, and entrepreneur. I have a passion for code, robotics, travel, art, gaming and writing. I’m also a former U.S. Marine with 6 years of military experience.
        </p>
        <p>
            In my professional background I have developed software for start-ups to fortune 500 companies. Over the past 5 years I have developed two government sponsored supply chain platforms that have impacted both container shipping and bulk shipping industries. Currently I’m the co-founder of <a href="https://fleetbase.io/" class="text-blue-400">Fleetbase</a>, based in Singapore. We focus on developing digital infrastructure for the supply chain industry.
        </p>
        <p>
            Since starting <a href="https://fleetbase.io/" class="text-blue-400">Fleetbase</a>, I've helped bootstrap the company from 0 to > $1m++ with active customers in 4 continents.
        </p>
        <p>
            Recently some of my biggest interests have become VR and AR technologies and hope to eventually be able to deep dive into VR/AR applications.
        </p>
    </div>
</div>
<div>
    <h3 class="page-title">Projects/ Ventures</h3>
    <div class="grid grid-cols-1 gap-4 mb-10">
        <div class="project">
            <div class="project-header">
                <h4 class="project-title">Fleetbase Pte Ltd.</h4>
                <span class="project-type">Venture</span>
            </div>
            <p class="project-description">An modular based platform for digital supply chain infrastructure, currently focused on last-mile, logistics, and e-commerce. Actively contributing to open source to inspire and help digitize traditional sectors in supply chain.</p>
            <div class="flex flex-row space-x-4">
                <a href="https://fleetbase.io/" class="project-link">
                    <FaIcon @icon="link" class="mr-1" />
                    <span>View website</span>
                </a>
            </div>
            <div class="project-subprojects">
                <h4 class="project-subprojects-title">Subprojects</h4>
                <ul>
                    <li>
                        <div>
                            <a href="https://github.com/fleetbase/fleetbase-js">@fleetbase/sdk</a>
                            <span>Official Fleetbase Node/Javascript SDK. Used to develop on-demand/last-mile and logistics software blazingly fast.</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="https://github.com/fleetbase/storefront-js">@fleetbase/storefront</a>
                            <span>Official Fleetbase Storefront Node/Javascript SDK. Used to develop e-commerce software for on-demand blazingly fast.</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="https://github.com/fleetbase/storefront-app">Storefront App</a>
                            <span>Open sourced mobile application for launching an on-demand shopping or services app. Enables users to quickly setup and launch a native mobile app for a single on-demand shop or a multi-vendor marketplace powered by Fleetbase.</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="https://github.com/fleetbase/navigator-app">Navigator App</a>
                            <span>Open sourced mobile app for Fleetbase drivers. Enables order activity updates, management, scheduling and route navigation.</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="project">
            <div class="project-header">
                <h4 class="project-title">LinkHaul (M) Sdn Bhd</h4>
                <span class="project-type">Venture</span>
            </div>
            <p class="project-description">A shipping container marketplace for hauliers in Malaysia, built using Fleetbase. LinkHaul enables optimization of container transport by easing the process of subcontracting containers which as result reduces traffic congestion and creates more business for hauliers. LinkHaul is officially sponsored by the Malaysia Ministry of Transport and integrated directly with PKA (Port Klang Authority) the 11th busiest container port (2012) in the world.</p>
            <div class="flex flex-row space-x-4">
                <a href="https://linkhaul.net/" class="project-link">
                    <FaIcon @icon="link" class="mr-1" />
                    <span>View website</span>
                </a>
            </div>
        </div>
        <div class="project">
            <div class="project-header">
                <h4 class="project-title">Horror Movie Night</h4>
                <span class="project-type">App</span>
            </div>
            <p class="project-description">Horror Movie Night is a passion project mobile app that recommends the scariest horror movies. View upcoming horror movies, view trailers, where to stream, and track movies you've seen and want to see.</p>
            <div class="flex flex-row space-x-4">
                <a href="https://apps.apple.com/ca/app/horror-movie-night/id1613495460" class="project-link app-store" target="_hmn_ios">
                    <FaIcon @icon="apple" @prefix="fab" class="mr-1" />
                    <span>View on App Store</span>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.horrormovienight.app&hl=en&gl=US" class="project-link play-store" target="_hmn_android">
                    <FaIcon @icon="android" @prefix="fab" class="mr-1" />
                    <span>View on Play Store</span>
                </a>
                <a href="https://horrormovienight.app/" class="project-link" target="_hmn_web">
                    <FaIcon @icon="link" class="mr-1" />
                    <span>View website</span>
                </a>
            </div>
        </div>
        <div class="project">
            <div class="project-header">
                <h4 class="project-title">Cloudrealms</h4>
                <span class="project-type">SDK</span>
            </div>
            <p class="project-description">Cloudrealms is an Javascript based RPG/MMORPG game engine.</p>
            <div class="flex flex-row space-x-4">
                <a href="https://github.com/cloudrealmsrpg" class="project-link github" target="_cloudrealms_sdk">
                    <FaIcon @icon="github" @prefix="fab" class="mr-1" />
                    <span>View on Github</span>
                </a>
            </div>
        </div>
        <div class="project">
            <div class="project-header">
                <h4 class="project-title">Omniship PHP</h4>
                <span class="project-type">SDK</span>
            </div>
            <p class="project-description">Omniship is a framework agnostic PHP library for accessing API's from multiple shipping/carrier service providers. Maintenance under Fleetbase.</p>
            <div class="flex flex-row space-x-4">
                <a href="https://github.com/fleetbase/omniship-php" class="project-link github" target="_omniship_php">
                    <FaIcon @icon="github" @prefix="fab" class="mr-1" />
                    <span>View on Github</span>
                </a>
            </div>
        </div>
        <div class="project">
            <div class="project-header">
                <h4 class="project-title">AR Net</h4>
                <span class="project-type">App</span>
            </div>
            <p class="project-description">AR Net is my own interpretation and implementation of an augmented reality based network. Allows users to connect and interact within an augmented reality network using their mobile device. Users can place and leave geospatial 3D text and objects in AR Net for others to view and comment.</p>
        </div>
        <div class="project">
            <div class="project-header">
                <h4 class="project-title">FixFlo</h4>
                <span class="project-type">App</span>
            </div>
            <p class="project-description">FixFlo is a web application targeteted towards shipbrokers to enable rapid productivity. 99% of all bulk shipping data comes from emails, FixFlo parses email contents into structured fixture data which enable brokers to sort, filter, search and generate key reports for business.</p>
            <div class="flex flex-row space-x-4">
                <a href="https://fixflo.pro/" class="project-link">
                    <FaIcon @icon="link" class="mr-1" />
                    <span>View website</span>
                </a>
            </div>
        </div>
    </div>
</div>